[core]
	pager = hunk
[merge]
	conflictStyle = zdiff3
[user]
	email = esko.pyyluoma@gmail.com
	name = Esko Pyyluoma
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
